    /* Styles elements with the id "uniqueValue" */
    #red {
        color: orangered;
        text-align: center;
    }

    /* Styles elements with the class "uniqueclassValue" */
    .green {
        color:mediumseagreen;
        padding: 40px;
        text-align: center;
    }

    .big {
        font-size: 25px;
        line-height: 30px;
        text-align: center;
    }

    .bold {
        font-weight: bold;
    }


